@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: hsl(218, 23%, 16%);
}

.advice {
	box-shadow: 0px 8px 30px -11px hsl(216, 24%, 8%);
}

button {
	transition: box-shadow 0.3s;
}

button:hover,
button:focus {
	box-shadow: 0px 0px 30px 0px hsl(150, 100%, 66%);
}
